#container{
    width: 80vw;
    border: 2px solid #ccc;
    margin: 20px auto;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 2px grey;
}

h2{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}

input,button{
    font-size: 15px;
}
.bg{
    width: 200px;
    margin: auto;
    margin-top: 50px;
    
}

.bg button{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.grey{
    background-color: grey;
}
.pink{
    background-color: rgb(238, 51, 169);
}
.blue{
    background-color: rgb(247, 69, 5);
}
.green{
    background-color: rgb(254, 13, 13);
}
.aqua{
    background-color: rgb(22, 35, 35);
}